<header>
  <nav class="bg-black/85">
    <div class="flex justify-between items-center">
      <div>
        <a routerLink="/" routerLinkActive="active"
          ><img
            src="ebs-logo-svg.png"
            alt="E Book Store"
            class="pl-5 py-1 h-16"
        /></a>
      </div>

      <div class="flex items-center gap-2" *ngIf="currentPath === '/'">
        <input
          type="text"
          class="rounded w-[550px] h-8 p-3 outline-none font-dosis border-transparent focus:ring-0 focus:border-transparent"
          placeholder="Search book here..."
        />
        <div>
          <img
            src="search.png"
            alt="Search"
            class="h-8 border border-white rounded p-1"
          />
        </div>
      </div>
      <div>
        <ul
          class="flex items-center justify-center text-white gap-10 pr-5 cursor-pointer font-dosis tracking-widest"
        >
          <a routerLink="login" routerLinkActive="active">
            <li
              class="py-1 px-5 font-semibold rounded hover:bg-white hover:text-black"
            >
              Login
            </li>
          </a>
          <a routerLink="account" routerLinkActive="active">
            <li
              class="py-1 px-5 font-semibold rounded hover:bg-white hover:text-black"
            >
              User
            </li>
          </a>
          <!-- <a routerLink="register" routerLinkActive="active">
            <li class="py-2 px-5 border border-white rounded hover:bg-w">Sign Up</li>
          </a> -->
        </ul>
      </div>
    </div>
  </nav>
</header>
