<header class="font-dosis">
  <nav class="bg-black/85">
    <div class="flex justify-between items-center">

      <a routerLink="/" routerLinkActive="active">
        <div class="flex items-center gap-3 pl-28 py-7">
          <img src="logo-dark-book.png" alt="EBS" class="my-auto h-8">
          <img src="logo-white-text.png" alt="EBS" class="my-auto h-6">
        </div>
      </a>

      <div class="flex" *ngIf="currentPath === '/'">
        <input type="text"
          class="rounded-l-lg w-[650px] h-11 p-3 outline-none font-dosis border-transparent focus:ring-0 focus:border-transparent"
          placeholder="Search books...">
        <div class="">
          <img src="search.png" alt="Search" class="h-11 bg-orange-500 rounded-r-lg p-2.5">
        </div>
      </div>
      <div>
        <ul class="flex items-center justify-center text-white gap-10 pr-5  font-dosis tracking-widest">
          <a routerLink="account" routerLinkActive="active">
            <!-- <li class="py-1 px-5 font-semibold rounded hover:bg-white hover:text-black">Login</li> -->
            <li class="flex items-center justify-between">
              <img src="header-icons/icons8-user-32.png" alt="User" class="h-6">
              <span class="font-semibold text-base ml-1">My Account</span>
              <img src="header-icons/icons8-cart-32.png" alt="Cart" class="h-8 ml-5">
            </li>
          </a>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Navigatoinbar -->
  <nav class="bg-white  border-b-2 border-gray">
    <div class="flex h-16 justify-between items-center px-10 tracking-widest">
      <div class="flex pt-1 hover:border-b-4 hover:border-b-orange-500 h-full group">
        <div class="flex gap-2 items-center h-16 font-semibold">
          <img src="header-icons/icons8-fries-menu-32.png" class="w-8" />
          <a routerLink="/author">Books</a>
        </div>

        <div class="absolute mt-16 text-[16px] shadow-md font-semibold z-50">

          <ul class="hidden group-hover:block main-list w-60 space-y-4 py-4 justify-between z-40 bg-white">

            <li class="hover:text-orange-500 px-4">Classics</li>

            <div>
              <li>
                <div class="flex justify-between hover:text-orange-500 px-4">
                  Fantasy
                  <span>></span>
                </div>

                <div class="sub-list left-60 absolute top-12 w-60 shadow-md">
                  <ul class="justify-between mx-4 my-4 space-y-4">
                    <li class=" hover:text-orange-500">Dark Acedemia</li>
                    <li class=" hover:text-orange-500">Dark Fantasy</li>
                    <li class=" hover:text-orange-500">Romantacy</li>
                  </ul>
                </div>
              </li>
            </div>

            <li class="hover:text-orange-500 px-4">Historical</li>
            <li class="hover:text-orange-500 px-4">Literary Fiction</li>


            <li>
              <div class="flex justify-between hover:text-orange-500 px-4">
                Mystery & Suspence
                <span>></span>
              </div>

              <div class="sub-list left-60 absolute top-40 w-60 shadow-md">
                <ul class="justify-between mx-4 my-4 space-y-4">
                  <li class="hover:text-orange-500">Psychological Thrillers</li>
                </ul>
              </div>
            </li>


            <li>
              <div class="flex justify-between hover:text-orange-500 px-4">
                Non-finction
                <span>></span>
              </div>

              <div class="sub-list left-60 absolute top-48 w-60 shadow-md">
                <ul class="justify-between mx-4 my-4 space-y-4">
                  <li class="hover:text-orange-500">About Giant Companies</li>
                  <li class="hover:text-orange-500">Entrepreneurial Space</li>
                  <li class="hover:text-orange-500">Let's Talk Business</li>
                  <li class="hover:text-orange-500">Supercharge Productivity</li>
                </ul>
              </div>
            </li>

            <li>
              <div class="flex justify-between hover:text-orange-500 px-4">
                Romance
                <span>></span>
              </div>

              <div class="sub-list hidden left-60 absolute top-64 w-60 shadow-md">
                <ul class="justify-between mx-4 my-4 space-y-4">
                  <li class="hover:text-orange-500">Contemporary Romance</li>
                  <li class="hover:text-orange-500">Historical Romance</li>
                  <li class="hover:text-orange-500">Romantic Suspense</li>
                  <li class="hover:text-orange-500">Paranormal Romance</li>
                  <li class="hover:text-orange-500">Romantic Comedy</li>
                  <li class="hover:text-orange-500">Regency Romance</li>
                </ul>
              </div>
            </li>

            <li>
              <div class="flex justify-between hover:text-orange-500 px-4">
                Science & Fiction
                <span>></span>
              </div>

              <div class="sub-list hidden left-60 absolute top-72 w-60 shadow-md">
                <ul class="justify-between mx-4 my-4 space-y-4">
                  <li class="hover:text-orange-500">Cyberpunk</li>
                  <li class="hover:text-orange-500">Space Opera</li>
                  <li class="hover:text-orange-500">Time Travel</li>
                  <li class="hover:text-orange-500">Alien Invasions</li>
                  <li class="hover:text-orange-500">Post-Apocalyptic</li>
                  <li class="hover:text-orange-500">Dystopian</li>
                  <li class="hover:text-orange-500">Tech Noir</li>
                  <li class="hover:text-orange-500">Biopunk</li>
                </ul>
              </div>
            </li>

            <li class="hover:text-orange-500 px-4">Special Books</li>
          </ul>
        </div>
      </div>

      <div class="flex pt-1.5 hover:border-b-4 hover:border-b-orange-500 h-full">
        <div class="flex gap-2 items-center h-16 font-semibold">
          <img src="header-icons/icons8-open-box-32.png" class="w-6" />
          <a routerLink="/" routerLinkActive="active">Bookish Box</a>
        </div>
      </div>

      <div class="flex pt-1.5 hover:border-b-4 hover:border-b-orange-500 h-full">
        <div class="flex gap-2 items-center h-16 font-semibold">
          <img src="header-icons/icons8-open-box-32.png" class="w-6" />
          <a routerLink="/category">Mystery Box</a>
        </div>
      </div>

      <div class="flex pt-1.5 hover:border-b-4 hover:border-b-orange-500 h-full">
        <div class="flex gap-2 items-center h-16 font-semibold">
          <img src="header-icons/icons8-category-32.png" class="w-6" />
          <a routerLink="/contact">Categories</a>
        </div>
      </div>

      <div class="flex pt-1.5 hover:border-b-4 hover:border-b-orange-500 h-full">
        <div class="flex gap-2 items-center h-16 font-semibold">
          <img src="header-icons/icons8-book-stack-32.png" class="w-6" />
          <a routerLink="/about">Collections</a>
        </div>
      </div>

      <div class="flex pt-1.5 hover:border-b-4 hover:border-b-orange-500 h-full">
        <div class="flex gap-2 items-center h-16 font-semibold">
          <img src="header-icons/icons8-book-stack-32 (2).png" class="w-6" />
          <a routerLink="/cart">Bundles</a>
        </div>
      </div>

      <div class="flex pt-1.5 hover:border-b-4 hover:border-b-orange-500 h-full">
        <div class="flex gap-2 items-center h-16 font-semibold">
          <img src="header-icons/icons8-gift-card-32.png" class="w-6" />
          <a routerLink="/favorites">Gift Cards</a>
        </div>
      </div>
    </div>
  </nav>
</header>