<footer>
  <!-- footer upper part started -->
  <div class="bg-white border-y border-gray-300 py-14">
    <div class="flex flex-row justify-between px-16">
      <div class="flex items-center gap-4">
        <img src="footer-icons/truck.png" alt="Free Delivery" class="h-12 w-12">
        <div>
          <h3 class="font-medium text-lg tracking-wide">Free Delivery</h3>
          <p class="font-normal text-base">On Orders Above INR 599</p>
        </div>
      </div>
      <div class="flex items-center gap-4">
        <img src="footer-icons/award.png" alt="Free Delivery" class="h-12 w-12">
        <div>
          <h3 class="font-medium text-lg tracking-wide">Genius Books</h3>
          <p class="font-normal text-base">No Piracy. No First Copies.</p>
        </div>
      </div>
      <div class="flex items-center gap-4">
        <img src="footer-icons/unlock.png" alt="Free Delivery" class="h-14 w-14">
        <div>
          <h3 class="font-medium text-lg tracking-wide">Easy Payments</h3>
          <p class="font-normal text-base">Cash On Delivery, Debit & Credit <span class="block">Cards, UPIs,
              Wallets</span></p>
        </div>
      </div>
      <div class="flex items-center gap-4">
        <img src="footer-icons/refresh.png" alt="Free Delivery" class="h-10 w-10">
        <div>
          <h3 class="font-medium text-lg tracking-wide">Easy Returns & Replacements</h3>
          <p class="font-normal text-base">7 Days Return Policy. No questions<span class="block">asked.</span></p>
        </div>
      </div>
    </div>
  </div>
  <!-- footer upper part ended -->

  <!-- upper footer started -->
  <div class="py-20">
    <div class="grid grid-cols-5 grid-flow-row">
      <div class="flex items-center gap-3 px-16">
        <img src="footer-icons/logo-dark-book.png" alt="EBS" class="mb-auto h-10">
        <img src="footer-icons/logo-dark-alone.png" alt="EBS" class="mb-auto h-10">
      </div>
      <div class="flex flex-col gap-5">
        <h3 class="font-medium text-xl tracking-wide">Contact</h3>
        <ul>
          <li class="text-lg font-normal">Ganesh Glory,</li>
          <li class="text-lg font-normal">Jagatpur Road, Jagatpur,</li>
          <li class="text-lg font-normal">Ahmedabad, Gujarat - 382470,</li>
          <li class="text-lg font-normal">(Active Hours: Monday to</li>
          <li class="text-lg font-normal">Saturday, 11AM to 7PM)</li>
        </ul>
        <p class="border border-gray-500 shadow-md rounded-md py-1 px-3 mr-auto">Mail</p>
      </div>
      <div class="flex flex-col gap-5">
        <h3 class="font-medium text-xl tracking-wide">Popular Categories</h3>
        <ul class="space-y-2.5">
          <li class="text-lg font-normal">Bookish Box</li>
          <li class="text-lg font-normal">Mystery Box</li>
          <li class="text-lg font-normal">Categories</li>
          <li class="text-lg font-normal">Collections</li>
          <li class="text-lg font-normal">Bundles</li>
        </ul>
      </div>
      <div class="flex flex-col gap-5">
        <h3 class="font-medium text-xl tracking-wide">Company</h3>
        <ul class="space-y-2.5">
          <li class="text-lg font-normal">About</li>
          <li class="text-lg font-normal">Contact</li>
          <li class="text-lg font-normal">Privacy Policy</li>
          <li class="text-lg font-normal">Terms of Use</li>
          <li class="text-lg font-normal">Cancellation and Returns</li>
          <li class="text-lg font-normal">Shipping Policy</li>
          <li class="text-lg font-normal">Store Credit Policy</li>
        </ul>
      </div>
      <div class="flex flex-col gap-5">
        <h3 class="font-medium text-xl tracking-wide">Newsletter</h3>
        <ul class="space-y-2.5">
          <li class="text-lg font-normal">
            <p>Subscribe to get notified about</p>
            <p>product launches, special offers</p>
            <p>and news.</p>
          </li>
          <li>
            <input type="text" placeholder="Your Email"
              class="border border-gray-300 w-44 absolute py-2 focus:border-transparent focus:ring-gray-300">
            <button
              class="py-[9px] px-5 bg-orange-500 rounded-lg text-white relative left-36 text-base font-normal">Subscribe</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- upper footer ended -->

  <div class="bg-black/85">
    <div class="flex justify-between items-center">
      <div>
        <a routerLink="/" routerLinkActive="active"><img src="ebs-logo-svg.png" alt="E Book Store"
            class="pl-5 py-1 h-16"></a>
      </div>
      <div>
        <ul class="flex items-center justify-center text-white gap-4 pr-5 cursor-pointer font-dosis tracking-widest">
          <li class="py-2">E-Book Store</li>
          <li class="py-2">|</li>
          <li class="py-2">All Rights Reserved.</li>
        </ul>
      </div>
    </div>
  </div>
</footer>