<footer>
  <div class="bg-black/85">
    <div class="flex justify-between items-center">
      <div>
        <a routerLink="/" routerLinkActive="active"><img src="ebs-logo-svg.png" alt="E Book Store" class="pl-5 py-1 h-16"></a>
      </div>
      <div>
        <ul class="flex items-center justify-center text-white gap-2 pr-5 cursor-pointer font-dosis tracking-widest">
          <li class="py-2">E-Book Store</li>
          <li class="py-2">|</li>
          <li class="py-2">All Rights Reserved.</li>
        </ul>
      </div>
    </div>
  </div>
</footer>