<div>
  <form class="pb-10 font-dosis tracking-wide font-light">
    <div>
      <div>
        <label class="text-black text-base font-semibold"
          >First Name <span class="font-medium text-orange-500">*</span></label
        >
        <input
          type="text"
          class="border border-gray-300 rounded-lg w-full text-black focus:border-black focus:ring-0 mt-2 mb-4"
        />
      </div>

      <div>
        <label class="text-black text-base font-semibold"
          >Last Name <span class="font-medium text-orange-500">*</span></label
        >
        <input
          type="text"
          class="border border-gray-300 rounded-lg w-full text-black focus:border-black focus:ring-0 mt-2 mb-4"
        />
      </div>

      <div>
        <label class="text-black text-base font-semibold"
          >Company Name
          <span class="font-medium text-orange-500">*</span></label
        >
        <input
          type="text"
          class="border border-gray-300 rounded-lg w-full text-black focus:border-black focus:ring-0 mt-2"
        />
      </div>

      <div class="flex flex-col mt-4">
        <label class="text-black text-base font-semibold"
          >Country / Region
          <span class="font-medium text-orange-500">*</span></label
        >
        <select
          class="border rounded-lg w-full text-black border-gray-300 focus:border-gray-300 focus:ring-0 mt-2"
        >
          <option>
            <!-- <option *ngFor="let currency of currencies" [value]="currency.value"> -->
            <!-- {{ currency.label }} -->
          </option>
        </select>
      </div>

      <div class="mt-4">
        <label class="text-black text-base font-semibold"
          >Street Address
          <span class="font-medium text-orange-500">*</span></label
        >
        <input
          type="text"
          placeholder="House number and street name"
          class="border border-gray-300 rounded-lg w-full text-black focus:border-black focus:ring-0 mt-2 mb-4"
        />
        <input
          type="text"
          placeholder="Apartment, suit, unit, etc.(optional)"
          class="border border-gray-300 rounded-lg w-full text-black focus:border-black focus:ring-0 mt-2 mb-4"
        />
      </div>

      <div>
        <label class="text-black text-base font-semibold"
          >Town / City <span class="font-medium text-orange-500">*</span></label
        >
        <input
          type="text"
          class="border border-gray-300 rounded-lg w-full text-black focus:border-black focus:ring-0 mt-2 mb-4"
        />
      </div>

      <div class="flex flex-col">
        <label class="text-black text-base font-semibold"
          >State <span class="font-medium text-orange-500">*</span></label
        >
        <select
          class="border rounded-lg w-full text-black border-gray-300 focus:border-gray-300 focus:ring-0 mt-2"
        >
          <option>
            <!-- <option *ngFor="let currency of currencies" [value]="currency.value"> -->
            <!-- {{ currency.label }} -->
          </option>
        </select>
      </div>

      <div class="mt-4">
        <label class="text-black text-base font-semibold"
          >Pincode <span class="font-medium text-orange-500">*</span></label
        >
        <input
          type="text"
          class="border border-gray-300 rounded-lg w-full text-black focus:border-black focus:ring-0 mt-2 mb-4"
        />
      </div>

      <div>
        <label class="text-black text-base font-semibold"
          >Phone Number
          <span class="font-medium text-orange-500">*</span></label
        >
        <input
          type="text"
          class="border border-gray-300 rounded-lg w-full text-black focus:border-black focus:ring-0 mt-2 mb-4"
        />
      </div>

      <div>
        <label class="text-black text-base font-semibold"
          >Email address<span class="font-medium text-orange-500"
            >*</span
          ></label
        >
        <input
          type="text"
          class="border border-gray-300 rounded-lg w-full text-black focus:border-black focus:ring-0 mt-2 mb-4"
        />
      </div>

      <button
        class="w-40 h-11 my-3 bg-orange-500 text-lg text-white rounded-md mt-4"
      >
        Save changes
      </button>
    </div>
  </form>
</div>
