<div>
  <div id="carouselExample" class="relative" data-carousel="slide">
    <!-- Carousel wrapper -->
    <div class="relative h-[665px] overflow-hidden">
      <!-- Item 1 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <h3 class="text-white text-5xl font-semibold absolute font-dosis left-10 ring-0 bottom-0 top-[500px]">Five Broken Blades: Deluxe Limited Edition</h3>
        <p class="font-medium text-lg text-white absolute font-dosis left-10 ring-0 bottom-0 top-[560px]">A richly developed world, a captivating ensemble cast, and a twisty, action-packed quest.</p>
        <button class="h-10 w-32 bg-white font-semibold text-black rounded-lg absolute font-dosis left-10 ring-0 bottom-0 top-[600px] hover:bg-white/20 hover:text-white">Order Now</button>
        <img src="hero1.png" alt="Book One"
          class=" h-full w-full mx-auto my-auto object-cover">
      </div>
      <!-- Item 2 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img src="hero2.png" alt="Book Two"
          class=" h-full w-full mx-auto my-auto">
      </div>
      <!-- Item 3 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img src="hero3.png" alt="Book Three"
          class=" h-full w-full mx-auto my-auto">
      </div>
    </div>
    <!-- Slider indicators -->
    <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
      <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1"
        data-carousel-slide-to="0"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2"
        data-carousel-slide-to="1"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3"
        data-carousel-slide-to="2"></button>
    </div>
    <!-- Slider controls -->
    <button type="button"
      class="absolute top-80 left-0 z-30 flex items-center justify-center px-4 cursor-pointer group focus:outline-none"
      data-carousel-prev>
      <span
        class="inline-flex items-center justify-center w-8 h-8 rounded-full bg-white/30 group-hover:bg-white/50 group-focus:outline-none">
        <svg aria-hidden="true" class="w-5 h-5 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
        </svg>
        <span class="sr-only">Previous</span>
      </span>
    </button>
    <button type="button"
      class="absolute top-80 right-0 z-30 flex items-center justify-center px-4 cursor-pointer group focus:outline-none"
      data-carousel-next>
      <span
        class="inline-flex items-center justify-center w-8 h-8 rounded-full bg-white/30 group-hover:bg-white/50 group-focus:outline-none">
        <svg aria-hidden="true" class="w-5 h-5 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
        </svg>
        <span class="sr-only">Next</span>
      </span>
    </button>
  </div>
</div>
