<div>
  <div id="carouselExample" class="relative" data-carousel="slide">
    <div class="relative h-[665px] overflow-hidden">
      <div *ngFor="let item of carouselItem; let i = index" class="hidden duration-700 ease-in-out" data-carousel-item [class.hidden]="i !== 0" [attr.data-carousel-item]="i">
        <h3 class="text-white text-5xl font-semibold absolute font-dosis left-10 ring-0 bottom-0 top-[500px]">{{ item.title }}</h3>
        <p class="font-medium text-lg text-white absolute font-dosis left-10 ring-0 bottom-0 top-[560px]">{{ item.description }}</p>
        <a routerLink="{{ item.redirectUrl }}" routerLinkActive="active"><button class="h-10 w-32 bg-white font-semibold text-black rounded-lg absolute font-dosis left-10 ring-0 bottom-0 top-[600px] hover:bg-white/20 hover:text-white">Order Now</button></a>
        <img src="{{ item.imageUrl }}" alt="Book"
          class=" h-full w-full mx-auto my-auto object-cover">
      </div>
    </div>
    <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
      <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1"
        data-carousel-slide-to="0"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2"
        data-carousel-slide-to="1"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3"
        data-carousel-slide-to="2"></button>
    </div>
    <button type="button"
      class="absolute top-80 left-0 z-30 flex items-center justify-center px-4 cursor-pointer group focus:outline-none"
      data-carousel-prev>
      <span
        class="inline-flex items-center justify-center w-8 h-8 rounded-full bg-white/30 group-hover:bg-white/50 group-focus:outline-none">
        <svg aria-hidden="true" class="w-5 h-5 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
        </svg>
        <span class="sr-only">Previous</span>
      </span>
    </button>
    <button type="button"
      class="absolute top-80 right-0 z-30 flex items-center justify-center px-4 cursor-pointer group focus:outline-none"
      data-carousel-next>
      <span
        class="inline-flex items-center justify-center w-8 h-8 rounded-full bg-white/30 group-hover:bg-white/50 group-focus:outline-none">
        <svg aria-hidden="true" class="w-5 h-5 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
        </svg>
        <span class="sr-only">Next</span>
      </span>
    </button>
  </div>
</div>

<app-home-content></app-home-content>