<div class="container flex justify-center items-center mx-auto min-h-screen">
  <div class="font-dosis tracking-widest min-h-[500px]">
    <!-- Toggle buttons -->
    <div class="flex justify-center items-center text-center cursor-pointer">
      <div class="border-gray-200 w-[50%] pb-3">
        <span class="text-center text-2xl font-medium">Forgot Password</span>
      </div>
    </div>

    <!-- Card Content -->
    <div
      class="border-t px-8 pt-8 pb-4 text-black rounded-lg shadow-lg shadow-black/25"
    >
      <!-- Forgot Password Form -->
      <form class="flex flex-col mt-5 space-y-3">
        <label class="text-black text-base"
          >Email address
          <span class="font-medium text-orange-500">*</span></label
        >
        <input
          type="text"
          class="border border-gray-300 rounded-lg w-96 text-black focus:border-black focus:ring-0"
        />

        <div class="text-center">
          <button
            class="w-32 h-10 my-3 bg-orange-500 text-xl text-white font-medium rounded-lg"
          >
            Send Mail
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
